
.template-wrapper{
    box-shadow: 0px 0px 50px -40px var(--primary-color)!important;
    transition: 0.3s;
}
.template-wrapper img{
    transition: 0.3s;
}
.template-wrapper:hover img{
    transform: scale(1.03);
}
.template-wrapper:hover{
    box-shadow: 0px 0px 50px -30px var(--primary-color)!important;
}
